.header {
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("../../assets/Header.jpg");
  background-size: cover;
  background-position: center;
}

.header h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.header p {
  font-size: 1.2rem;
}

